html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

.initialTitle {
  text-align: center;
  font-weight: 100;
  color: #FFF;
}

.homeBody {
  font-family: "sans-serif", Serif, Georgia;
  background-image: url('../pictures/default.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.thumbnail {
	height: 200px;
	width: 150px;
	image-rendering: crisp-edges;
}

.pageTitle {
  text-align: center;
  font-weight: 100;
}

.pageDescription {
  border: 1px solid #000;
  text-align: center;
  padding: 30px;
  font-style: italic;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerItem {
  margin: 10px;
  border: 5px solid #444372;
}

/* Footer & Header */
nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 18px;
}

nav ul {
  display: inline;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #444372;
  text-decoration: none;
}