html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

.initialTitle {
  text-align: center;
  font-weight: 100;
  color: #FFF;
}

.indexBody { 
  font-family: "sans-serif", Serif, Georgia;
  background-image: url('pictures/me.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.enterBtn {
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.enterBtn a {
  /*padding: 8px 18px;*/
  border: 1px solid #FFF;
  color: #FFF;
}

/* Footer & Header */
nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 18px;
}

nav ul {
  display: inline;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #444372;
  text-decoration: none;
}